.navbar {
    display: flex;
    flex-direction: row;
    background: #0f2027;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    filter: drop-shadow(0px -5px 15px rgba(0, 0, 0, 0.45));
    color: hsla(0, 0%, 100%);
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar > * {
    filter: drop-shadow(3px 3px 0 hsla(0, 0%, 0%, 0.5));
}

.navbar h1 {
    margin: 0;
    flex: 1;
    font-size: 1.5em;
}

.navbar a {
    color: hsla(0, 0%, 100%);
    text-decoration: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:not(:last-child) {
    margin-right: 1em;
}

.navbar a svg {
    width: 1em;
    margin-right: 8px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 0.8em;
    }

    .navbar h1 {
        display: none;
    }
}