.parameters {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    border-bottom: 2px solid hsl(0, 0%, 85%);
    flex-wrap: wrap;
}

.parameters > *:not(:first-child) {
    margin-left: 20px;
}

.parameter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 90vw;
}

.parameter span {
    font-weight: bold;
    margin-right: 10px;
}

.tags {
    width: 400px;
    max-width: 90vw;
}

.order {
    width: 200px;
}
